@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&family=Shadows+Into+Light&display=swap");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

main {
  margin: 0 1em;
}

h1 {
  font-weight: bold;
  font-family: "Shadows Into Light", cursive;
  margin: 0.4em;
}

.imgHeader > h1 {
  color: white;
  text-shadow: #181823 1px 2px 1px, 0px 10px 15px #580235;
  text-align: center;
}

.imgHeader {
  background: linear-gradient(
      to bottom,
      rgba(218, 119, 165, 1) 0%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 1) 90%
    ),
    url(../img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 10em;
  padding-bottom: 10em;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.presentacion {
  font-weight: 600;
  margin: 0 1em;
  text-align: center;
  color: #333342;
  text-shadow: 0px 3px 10px #da77a5;
}

a {
  text-decoration: none;
  color: #333342;
  text-shadow: #da77a5 1px 1px 5px;
  line-height: 3em;
}

a:hover {
  color: #ff0099;
}

.card {
  box-shadow: #da77a5 1px 1px 10px 2px;
  margin: 1em 0;
}

.card-img-top {
  cursor: pointer;
  margin: 0.75em;
  border: 3px double #da77a5;
  border-radius: 5px;
}

.card-body {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  padding: 0;
}

ul {
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
}

#listaProductos {
  padding: 1em 0;
}

.card-title {
  padding-top: 0.4em;
}

.card-text {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.bxs-message-square-add {
  color: #da77a5;
  cursor: pointer;
  font-size: 3em;
  text-align: right;
  padding-bottom: 0.2em;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.bxs-message-square-add:hover {
  filter: sepia(40%);
}

footer {
  margin-top: 5em;
  background-color: #e6e6e6;
  color: #da77a5;
  font-weight: bold;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: center;
}

.h4-footer {
  font-weight: bold;
  font-family: "Shadows Into Light", cursive;
  margin: 0.4em;
  text-shadow: #333342 0px 1px 1px;
}

.copy {
  margin-bottom: 0;
  font-size: 15px;
}

/* ------------------productos.html------------------ */

#tituloProducto {
  color: #da77a5;
  text-shadow: 1px 1px 1px #181823;
}

h3 {
  color: #da77a5;
  text-shadow: #181823 1px 2px 1px;
}

#infoProducto {
  display: flex;
  flex-direction: column;
}

#infoProducto > img {
  border: 3px double #da77a5;
  border-radius: 5px;
}

#infoProducto > p {
  text-align: justify;
}

#infoProducto > span {
  margin: 0.5em 0;
  text-align: center;
}

.puntuacion {
  font-size: 30px;
  color: darkorange;
}

@media (min-width: 768px) {
  .presentacion {
    font-size: large;
    margin: 2em 10em;
  }

  .card {
    margin: 1em;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* -------------productos.html-------------- */
  #infoProducto {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    max-width: 70em;
    margin: 0 5em;
  }

  #infoProducto > img {
    height: 80vh;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
  }

  #infoProducto > p {
    padding-right: 3em;
  }
}
